{% extends 'layout.html' %}
{% block body %}
	<section id="services" class="container">
    <h2>Services</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa cupiditate exercitationem magnam maiores nisi quisquam? Fuga nam, neque omnis pariatur rem repellat similique! Aspernatur debitis minima natus quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, dicta dolorum facere facilis fuga illo, illum libero porro possimus qui saepe soluta sunt voluptates.
        Iure nam quibusdam quis tenetur velit!</p>
</section>
{% endblock %}